@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    /* background: url('/5692485.png') rgba(0, 0, 0, 0.5) no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.5); */
    font-family: "Roboto", sans-serif;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('/5692507.png') no-repeat center center/cover;

    color: #ffffff;
    
}

/*Code for modal*/

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none;
}

.modal-container{
    display: none;
}

.modal{
    z-index: 1000;
    display: flex;
    height: 10vh;
    width: 15vw;
    justify-content: center;
    align-items: center;
    background-color: #2b2e2f;
    border-radius: 5px;
    font-size: 1.2rem;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #373737;
}

.modal span{
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;
}

h1{
    font-size: 1.7rem;
    font-weight: 400;
    
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.heading span{
    font-size: 1.7rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
    /* position: absolute; */
}

/*Todos styling starts here*/
.todo{
    margin-top: 1rem;
    /* margin-bottom: .1rem; */
    display: flex;
    flex-direction: column;
    width: 100%;

}

.task-items{
    margin-top: .1rem;
    margin-bottom: .1rem;
    display: flex;
    align-items: center;
    background-color: #2b2e2f;
    width: 100%;
    min-height: 52px;
    /* overflow: hidden; */
    position: relative;
    padding: 0px 16px;
    border-radius: 5px;
}

.task-items p{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1rem; 
    width: 100%;
    padding: 16px 14px;
}

.task-items:hover{
    opacity: 0.9;
}

.task-items .checkBtn{
    background-color: transparent;
    border: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
} 


.add-task{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2e2f;
    width: 100%;
    text-align: center;
    min-height: 52px;
    overflow: hidden;
    position: relative;
    padding: 0px 16px;
    border-radius: 5px;
    /* opacity: 0.9; */
}

.add-task:hover{    
    background-color: #373737;
}

.add-task input{
    width: 100%;
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 1rem;
    padding: 16px 14px;
    outline: none;
}

.add-task input::placeholder {
    color: #ffffff;
}

.todo .deleteTask{
    border: none;
    color: #ffffff;
    background-color: transparent;
    font-weight: lighter;
    font-size: 1rem;
    cursor: pointer;

}

#check{
    cursor: pointer;
}

@media (max-width: 480px) {
    /* Styles for most mobile devices */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 1rem;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .container {
        margin-left: 1rem;
        margin-right: 1rem;
        /* position: absolute; */
    }

    .modal{
        height: 8vh;
        width: 63vw;
    }
}

@media (max-width: 1200px) and (min-width: 480px) {
    .modal {
        height: 8vh;
        width: 40%;
    }
}
